.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }

  #inputText {
    width: 400px;
    height: 250px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-size: 18px;
  }

  #convertBtn {
    margin-top: 10px;
    background: #140444;
    border-radius: 6px;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    -moz-fit-content: fit-content;
  }

  .output {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }

  #audioPlayer {
    display: none;
  }

  .footer {
    background-color: #140444;
    color: #fff;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0 auto;
    height: 23px;
  }
